@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Poppins", sans-serif;
}

body{
 margin: 0;
 padding: 0;
 font-family: "Roboto", sans-serif;
}

header{
    z-index: 1;
    position: fixed;
    background: #635D44;
    padding: 35px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
    align-items: center;
}

.left_area{
    margin-top: -16px;
}

.left_area h3{
    color: #d8d7d3;
    margin: 0;  
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.left_area span{
    color: #d8d7d3;
}

.logout_btn{
    padding: 5px;
    background:#E8D99E;
    float: right;
    margin-top: -35px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: black;
    transition: 0.5s;
    transition-property: background;
    text-decoration: none;
}

.logout_btn:hover{
    background: #797153;
    color: #d8d7d3;
}

.sidebar{
    z-index: 1;
    background:#797153;
    margin-top: 70px;
    padding-top: 30px;
    width: 250px;
    height: calc(100% - 9%);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    transition: 0.5s ease;
    transition-property: left;
}

.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar .profile_info .profile_image{
    width: 125px; 
    height: 125px;
    border-radius: 125px;
    margin-bottom: 10px;
}

.sidebar .profile_info h4{
    color: #d8d7d3;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar a{
    color: #d8d7d3;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition-property: background;
}

.sidebar a.op2{
    background: #E8D99E;
    color: black;
}

.sidebar a:hover{
    background: #E8D99E;
    color: black;
}

.sidebar i{
    padding-right: 10px;
}

label #sidebar_btn{
    z-index: 1;
    color: #d8d7d3;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
    margin-top: -10px;
}

label #sidebar_btn:hover{
    color: black;
}

#check:checked ~ .sidebar{
    left: -185px;
}

#check:checked ~ .sidebar a span{
    display: none;
}

#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
}

.content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: url(../Imagens/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#check:checked ~ .content{
    margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
    display: none;
}

#check{
    display: none;
}

.mobile_nav{
    display: none;
}

.content h2{
    font-weight: bold;
    font-size: 22px;
}

.content p{
    font-family: 'Reenie Beanie';
    font-size: 22px;
}

.content ul,li{
    list-style:none;
}

.content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    transition: transform .15s linear;
}

.content ul li h2{
    text-align: center;
}

.content ul li a.a1{
    background:rgb(125, 214, 147);
}

.content ul li a p.desc{
    text-decoration:none;
    color:#000;
}

.content ul li a p.date{
    text-decoration:none;
    color:#000;
    text-align: end;
}

.content ul li a p.hour{
    text-decoration:none;
    color:#000;
}

.content ul li a p.prio{
    text-decoration:none;
    color:#000;
}

.content ul li a p.stat{
    text-decoration:none;
    color:#000;
    display: none;
    
}
  
.content ul li a:hover,ul li a:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.70);
    position:relative;
    z-index:5;
}
  
.content ul li{
    margin:1em;
}

@media screen and (max-width: 780px){
    .sidebar{
        display: none;
    }

    #sidebar_btn{
        display: none;
    }

    .content{
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }

    #check:checked ~.content{
        margin-left: 0;

    }

    .mobile_nav{
        display: block;
        width: calc(100% -0%);
    }

    .mobile_nav .nav_bar{
        background: #797153;
        width: (100% - 0px);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }

    .mobile_nav .nav_bar .mobile_profile_image{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .mobile_nav .nav_bar h4{
        color:  #d8d7d3;
    }
    
    label #nav_btn{
        color: #d8d7d3;
        font-size: 22px;
        cursor: pointer;
        transition: 0.5s;
        transition-property: color;
    }

    label #nav_btn:hover{
        color: black;
    }

    .mobile_nav_items{
        color: #d8d7d3;
        display: none;
    }

    .mobile_nav_items a{
        color: #d8d7d3;
        background: #797153;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover{
        background: #E8D99E;
        color: black;
    }

    .mobile_nav_items i{
        padding-right: 10px;
    }

    .active{
        display: block;
    }
}
      